/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}

/* COMMON */
html{
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
    /* float  */
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
}
.center{
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
    /* buttons  */
.btn{
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    padding: 0.5em 1em;
    display: inline-block;
    margin: 1.5em 0 1em 0;
}
.blue-btn{
    background-color: #0061ff;
}
/* HEADER  */
header{
    height: 40px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 100;
    overflow: hidden;
}
/* logo  */
.logo{
    width: 15%;
    text-align: center;
    line-height: 40px;
}
.logo img{
    width: 50%;
    height: auto;
    display: inline;
}
/* navigation bar  */
nav{
    width: 75%;
}

.nav-list{
    list-style-type: none;
}
.nav-list li{
    display: inline-block;
}
.nav-list a{
    line-height: 38px;
    font-size: 0.8em;
    padding: 0 1em;
    text-decoration: none;
    /* color: white; */
}
.nav-list a:hover{
    border-bottom: 2px solid #0061ff;
}
/* send btn  */
.nav-btn{
    width: 10%;
    text-align: center;
}
.nav-btn a{
    line-height: 40px;
    margin: 0 auto;
    display: inline;
}

/* MAIN  */

/* jumbotron */
.jumbotron-container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}
.jumbotron .header{
    margin-bottom: 1em;
    font-size: 3.2em;
    font-weight: bolder;
}


.jumbotron{
    background-color: #b4d0e7;
    padding-top: 2em; 
}
.jumbotron-content{
    width: 100%;
    position: relative;
    top: 3em;
    left: 3em;
}
.jumbotron-col{
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
.jumbotron-col a{
    display: inline-block;
}
.jumbotron-text:first-child{
    font-size: 0.7em;
}
.jumbotron .fa-arrow-down{
    font-size: 1.8em;
    margin-top: 1em;
    margin-bottom: 1.8em;
    color: black;
}
.jumboron-scroll{
    color: inherit;
}

/* SUB PLAN  */
.sub-plan{
    margin-top: 8em;
}

.sub-plan h2{
    margin-top: 50px;
}
/* ren section  */
.sub-plan .sub-ren{
    width: 100%;
    margin-top: 2em;
}
.sub-plan label{
    margin-right: 1em;
}

/* card section  */
.plan-card-section{
    margin-top: 2em;
}

.plan-card{
    width: 30%;
    min-height: 800px;
    vertical-align: top;
    display: inline-block;
    border: 1px solid lightgray;
}
.plan-card:nth-child(2){
    margin: 0 5%;
}

    /* plan card  */
        /* head */

.plan-head{
    display: inline-block;
    width: 100%;
    font-size: 0.7em;
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 0.5em 0;
}
.plan-head h4, 
.plan-head i{
    font-weight: 500;
    display: inline-block;
}
        /* price  */

.plan-price{
    margin-left: 10px;
    margin-top: 2em;
}
.plan-price h3{
    font-size: 1em;
}
.plan-price h4{
    margin-top: 1em;
}
.plan-price p{
    font-size: 0.7em;
}
    /* summary  */

.plan-summary{
    margin-top: 2em;
    margin-left: 10px;
}
.plan-list{
    list-style-type: none;
    font-size: 0.75em;
    margin: 0 10px 50px 10px;
}
.plan-list li{
    font-weight: 500;
    margin-top: 1em;
}
    /* try button  */

.plan-try{
    margin: 0 10px;
}
.plan-try div{
    font-size: 0.6em;
}
.plan-try span{
    display: inline-block;
    padding-bottom: 1.5em;
    border-bottom: 1px solid lightgray;
}
.plan-try a:last-child{
    color: #0061ff;
}
/* plan highlights  */

.plan-highlights{
    margin-top: 2em;
    margin-left: 10px;
}
.plan-highlights i{
    color: #0061ff;
}
/*ENTERPRISE*/
.enterprise{
    border: 1px solid lightgrey;
    margin-top: 2em;
    padding-bottom: 1em;
}
.enterprise-col-left{
    width: 62%;
    padding-left: 3%;
}
.enterprise h3{
    font-size: 0.8em;
    margin-top: 1em;
}
.enterprise-col-left h4{
    font-size: 0.6em;
    margin-top: 1em;
}
.enterprise p{
    font-size: 0.6em;
    margin-top: 2em;
}
.enterprise-col-right{
    width: 35%;
    padding-right: 3%;
}
.enterprise a{
    width: 100%;
    margin-right: auto;
    text-align: center;
}