/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}

/* COMMON */
html{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 80%;
    margin: 0 auto;
}

/* HEADER  */
header{
    background-color:aqua;
    /* debug: */
    height: 5em;
    width: 100%; 
}
.logo{
    background-color: yellow;
    height: 100%;
    /* debug: */
    float: left;
    width: 15%;
}
nav{
    background-color: green;
    height: 100%;
    /* debug: */
    float: left;
    width: 75%;
}
.nav-btn{
    height: 100%;
    background-color: blue;
    /* debug: */
    float: left;
    width: 10%;
}

/* MAIN  */

/* jumbotron */
.jumbotron h1{
    background-color: red;
}
/* debug: */

.jumbotron{
    background-color: #b4d0e7; 
}
.jumbotron-content{
    background-color: green;
    /* debug: */
    width: 100%;
}
.jumbotron .jumbotron-elem{
    background-color: blue;
    /* debug: */
    width: 30%;
    display: inline-block;
}
.jumbotron img{
    width: 70%;
    height: auto;
}
